/*****************/
/*    Header     */
/*****************/
.header {
    background: url("~@images/fundo-verde-inicio.png") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}
